In [1]:
from insert_db import insert_db

In [11]:
tableName = 'monthly_accident'
cquery = f'CREATE TABLE IF NOT EXISTS {tableName} (id INT AUTO_INCREMENT PRIMARY KEY, 시군구 VARCHAR(20),01월 INT,02월 INT,03월 INT,04월 INT,05월 INT,06월 INT,07월 INT,08월 INT,09월 INT,10월 INT,11월 INT,12월 INT,계 INT)'
iquery = f'INSERT INTO {tableName} (시군구,01월,02월,03월,04월,05월,06월,07월,08월,09월,10월,11월,12월,계)'
path = '../result/서울_구별_월별_음주운전.csv'
insert_db(cquery, iquery, path)

In [3]:
tableName = 'days_accident'
cquery = f'CREATE TABLE IF NOT EXISTS {tableName} (id INT AUTO_INCREMENT PRIMARY KEY, 시군구 VARCHAR(20),일 INT, 월 INT, 화 INT, 수 INT, 목 INT, 금 INT, 토 INT)'
iquery = f'INSERT INTO {tableName} (시군구,일,월,화,수,목,금,토)'
path = '../result/서울_구별_요일별_음주운전.csv'
insert_db(tableName,cquery, iquery, path)

커밋완료

In [2]:
tableName = 'times_accident'
cquery = f'CREATE TABLE IF NOT EXISTS {tableName} (id INT AUTO_INCREMENT PRIMARY KEY, 시군구 VARCHAR(20),00시 INT,02시 INT,04시 INT,06시 INT,08시 INT,10시 INT,12시 INT,14시 INT,16시 INT,18시 INT,20시 INT,22시 INT)'
iquery = f'INSERT INTO {tableName} (시군구,00시,02시,04시,06시,08시,10시,12시,14시,16시,18시,20시,22시)'
path = '../result/서울_구별_시간대별_음주운전.csv'
insert_db(tableName, cquery, iquery, path)

커밋완료