In [2]:

import pandas as pd
import glob
import os
from pandas import read_csv
from pandas import json_normalize
import json

In [46]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df1 = pd.read_excel('./data/서울_구별_시간대별_음주운전.xls', header=1)
df1 = df1[:25]
df1.replace('-',0,inplace=True)
df1 = df1.astype({col: 'int' for col in df1.columns[2:]})

df1 = df1.astype({col: 'int' for col in df1.columns[2:]})
df1.drop(df1.columns[0], axis=1, inplace=True)
df1.to_csv('./result/서울_구별_시간대별_음주운전.csv', index=False, encoding='utf-8')
df1['계'] = df1.drop(df1.columns[0], axis=1).sum(axis=1)
df1

C:\Users\it\AppData\Local\Temp\ipykernel_5004\2830908967.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.replace('-',0,inplace=True)

,시군구,00시-02시,02시-04시,04시-06시,06시-08시,08시-10시,10시-12시,12시-14시,14시-16시,16시-18시,18시-20시,20시-22시,22시-24시,계
0,종로구,8,5,3,5,6,2,2,0,2,2,8,9,52
1,마포구,20,12,10,10,9,1,4,2,3,6,9,18,104
2,강서구,12,12,4,7,6,4,3,3,5,5,14,14,89
3,구로구,15,6,8,4,6,5,6,1,5,11,17,10,94
4,영등포구,18,11,7,11,7,2,2,1,5,9,15,23,111
5,동작구,12,5,2,6,7,1,1,0,0,2,7,15,58
6,관악구,12,9,10,7,5,1,4,0,2,6,9,11,76
7,강남구,47,32,23,15,22,11,9,3,8,7,27,59,263
8,강동구,9,6,4,4,1,3,1,2,4,2,7,11,54
9,송파구,20,23,10,8,4,5,4,8,3,13,15,32,145
10,서초구,26,20,12,8,13,7,3,3,4,11,21,31,159
11,중구,6,6,1,2,3,1,0,1,2,3,7,5,37
12,양천구,9,3,7,4,6,3,2,2,2,7,8,12,65
13,중랑구,5,7,6,2,5,2,2,2,4,6,7,9,57
14,노원구,11,7,6,6,7,4,2,3,4,10,6,13,79
15,광진구,7,4,4,4,3,3,2,1,4,2,14,9,57
16,강북구,4,7,4,0,3,0,0,0,1,4,5,8,36
17,금천구,12,3,1,1,0,2,1,1,4,8,15,13,61
18,용산구,10,6,6,3,3,2,1,3,0,5,13,12,64
19,성동구,8,2,5,3,1,3,4,3,2,4,3,12,50
20,동대문구,6,5,8,3,4,2,3,3,2,2,8,10,56
21,성북구,6,1,3,2,3,1,1,1,2,4,6,7,37
22,도봉구,6,5,4,3,4,0,1,1,3,4,4,9,44
23,은평구,9,6,7,5,2,0,1,4,3,6,5,8,56
24,서대문구,7,3,8,2,1,0,1,0,0,1,4,7,34

In [50]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df2 = pd.read_excel('./data/서울_구별_요일별_음주운전.xls', header=1)
df2 = df2[:25]
df2.replace('-',0,inplace=True)
df2 = df2.astype({col: 'int' for col in df2.columns[2:]})

df2.drop(['시도'], inplace=True, axis=1)
df2.to_csv('./result/서울_구별_요일별_음주운전.csv', index=False, encoding='utf-8')
df2['계'] = df2.drop(df2.columns[0], axis=1).sum(axis=1)
df2

C:\Users\it\AppData\Local\Temp\ipykernel_5004\2249980851.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.replace('-',0,inplace=True)

     시군구   일   월   화   수   목   금   토    계
0    종로구  12  12   9   2   4   7   6   52
1    마포구  19  13  11  11  21  11  18  104
2    강서구  10   5  15  15  18  13  13   89
3    구로구  11  15  12   9  19  12  16   94
4   영등포구  12  13  21   9  22  14  20  111
5    동작구   9   6   7   5   7   9  15   58
6    관악구  11  11  13   8  10  10  13   76
7    강남구  21  32  31  40  45  42  52  263
8    강동구   6   4   2   8  11  10  13   54
9    송파구  15  13  26  25  25  20  21  145
10   서초구  26  16  16  21  22  33  25  159
11    중구   7   5   2   6   6   5   6   37
12   양천구  13   4   5  10   7  12  14   65
13   중랑구   5   7   9   6   8  13   9   57
14   노원구  17   9   5  11   9  13  15   79
15   광진구  10   5   6   8  10  11   7   57
16   강북구   7   5   5   4   3   5   7   36
17   금천구   9   8   7   6  11  11   9   61
18   용산구   7   8   5  14  10   8  12   64
19   성동구   5   6   9   5   2  13  10   50
20  동대문구  10   3   5   6   9  13  10   56
21   성북구   5   6   4   5   3   9   5   37
22   도봉구   9   2   6   5  12   3   7   44
23   은평구   5   9   9   5   7   6  15   56
24  서대문구   5   6   6   3   8   0   6   34

In [39]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df3 = pd.read_excel('./data/서울_구별_월별_음주운전.xls', header=1)
df3 = df3[:25]
df3.replace('-',0,inplace=True)
df3 = df3.astype({col: 'int' for col in df3.columns[2:]})

df3.drop(['시도'], inplace=True, axis=1)
df3['계'] = df3.drop(df3.columns[0:1], axis=1).sum(axis=1)
df3.to_csv('./result/서울_구별_월별_음주운전.csv', index=False, encoding='utf-8')
df3

C:\Users\it\AppData\Local\Temp\ipykernel_5004\4028614426.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3.replace('-',0,inplace=True)

     시군구  01월  02월  03월  04월  05월  06월  07월  08월  09월  10월  11월  12월    계
0    종로구    3    3    2    7    4    5    4    3    4    5    5    7   52
1    마포구   14    8    3    8   10    6    6   12   11    9    8    9  104
2    강서구    6    9   10   14    4    9    8    3    6    8    5    7   89
3    구로구    9    7    7    6    6    7    4   11    8   11    8   10   94
4   영등포구    8    9    6   10    7    9    8    9   15   11    6   13  111
5    동작구    8    4    5    9    1    1    5    4    8    5    6    2   58
6    관악구    8   11    8   10    7    5    5    2    5    8    4    3   76
7    강남구   30   18   22   26   20   18   21   21   11   23   20   33  263
8    강동구    5    4    7    7    4    4    5    3    7    3    3    2   54
9    송파구   21   12   11    7   10   15   14    8   11   12    8   16  145
10   서초구   11   18   18   10    8    9   16   11   21    9   15   13  159
11    중구    3    4    5    3    1    0    6    0    5    4    3    3   37
12   양천구    3    7    3    6    4    4    4    8    6    4    5   11   65
13   중랑구    4    8    3    4    8    5    6    4    5    4    3    3   57
14   노원구    7    4    9    4    7    8    2    7    6    4   10   11   79
15   광진구    5    1    3    3    7    8    8    4    5    6    1    6   57
16   강북구    1    3    4    6    3    5    2    5    2    2    1    2   36
17   금천구    7    8    6    5    2    4    8    7    5    1    5    3   61
18   용산구    7    2    1    5    2    6    7    7    4    4    8   11   64
19   성동구    6    6    2    5    3    5    2    3    5    1    6    6   50
20  동대문구    2    3    7    8    6    3    5    1    2    3    8    8   56
21   성북구    4    3    0    2    5    2    1    4    2    3    4    7   37
22   도봉구    5    2    4    3    3    4    5    4    6    1    3    4   44
23   은평구    4    4    5    5    4    3    2    5    5    5    9    5   56
24  서대문구    3    1    2    2    3    4    0    3    6    2    7    1   34

In [5]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df4 = pd.read_csv('data/시내주요기관(경찰·소방관서)_20250328163802.csv', header=1)
df4 = df4[:27]
df4.replace('-',0,inplace=True)
df4 = df4.astype({col: 'int' for col in df4.columns[2:]})

df4.drop(['자치구별(1)'], inplace=True, axis=1)
df4.drop(df4.columns[4:], axis=1, inplace=True)
df4.rename(columns={'자치구별(2)':'시군구'}, inplace=True)
df4 = df4[1:]

df4.to_csv('시내주요기관(경찰·소방관서)_20250328163802.csv', index=False, encoding='utf-8')
df4

     시군구  경찰청  경찰서  지구대파출소치안센터
1    종로구    1    2          22
2     중구    0    2          16
3    용산구    0    1          11
4    성동구    0    1          10
5    광진구    0    1          12
6   동대문구    0    1          13
7    중랑구    0    1           9
8    성북구    0    2          14
9    강북구    0    1          12
10   도봉구    0    1           9
11   노원구    0    1           9
12   은평구    0    2          13
13  서대문구    1    1           9
14   마포구    0    1          11
15   양천구    0    1           9
16   강서구    0    1          13
17   구로구    0    1          13
18   금천구    0    1           7
19  영등포구    0    1          12
20   동작구    0    1           9
21   관악구    0    1          11
22   서초구    0    2          15
23   강남구    0    2          17
24   송파구    0    1          13
25   강동구    0    1           9
26    기타    0    0           0

In [6]:
df5 = pd.read_csv('data/행정구역(구별)_20250328161825.csv', header=2)
df5.drop(columns=df5.columns[4:], axis=1, inplace=True)
df5.drop('자치구별(1)', axis=1, inplace=True)
df5.rename(columns={'자치구별(2)': '시군구'}, inplace=True)
df5 = df5[1:]
df5.to_csv('행정구역(구별)_20250328161825.csv', index=False, encoding='utf-8')
df5

     시군구   면적 (km²)  구성비 (%)
1    종로구  23.913223     3.95
2     중구   9.959947     1.65
3    용산구  21.867577     3.61
4    성동구  16.820149     2.78
5    광진구  17.062820     2.82
6   동대문구  14.215912     2.35
7    중랑구  18.497135     3.06
8    성북구  24.577918     4.06
9    강북구  23.600408     3.90
10   도봉구  20.651010     3.41
11   노원구  35.439122     5.86
12   은평구  29.710154     4.91
13  서대문구  17.626320     2.91
14   마포구  23.853966     3.94
15   양천구  17.406040     2.88
16   강서구  41.451954     6.85
17   구로구  20.122908     3.32
18   금천구  13.020528     2.15
19  영등포구  24.551194     4.06
20   동작구  16.356863     2.70
21   관악구  29.568369     4.89
22   서초구  46.965959     7.76
23   강남구  39.497597     6.53
24   송파구  33.876575     5.60
25   강동구  24.590383     4.06

In [7]:
df_merged = df1.merge(df2,on='시군구',how='left')
df_merged = df_merged.merge(df3,on='시군구',how='left')
df_merged = df_merged.merge(df4, on='시군구',how='left')
df_merged = df_merged.merge(df5,on='시군구',how='left')
df_merged.to_csv('서울_구별_음주운전.csv', index=False, encoding='utf-8')
df_merged['경찰접근성/면적비'] = df_merged['지구대파출소치안센터']/df_merged['구성비 (%)']
df_merged

,시도,시군구,00시-02시,02시-04시,04시-06시,06시-08시,08시-10시,10시-12시,12시-14시,14시-16시,...,09월,10월,11월,12월,경찰청,경찰서,지구대파출소치안센터,면적 (km²),구성비 (%),경찰접근성/면적비
0,서울,종로구,8,5,3,5,6,2,2,0,...,4,5,5,7,1,2,22,23.913223,3.95,5.569620
1,서울,마포구,20,12,10,10,9,1,4,2,...,11,9,8,9,0,1,11,23.853966,3.94,2.791878
2,서울,강서구,12,12,4,7,6,4,3,3,...,6,8,5,7,0,1,13,41.451954,6.85,1.897810
3,서울,구로구,15,6,8,4,6,5,6,1,...,8,11,8,10,0,1,13,20.122908,3.32,3.915663
4,서울,영등포구,18,11,7,11,7,2,2,1,...,15,11,6,13,0,1,12,24.551194,4.06,2.955665
5,서울,동작구,12,5,2,6,7,1,1,0,...,8,5,6,2,0,1,9,16.356863,2.70,3.333333
6,서울,관악구,12,9,10,7,5,1,4,0,...,5,8,4,3,0,1,11,29.568369,4.89,2.249489
7,서울,강남구,47,32,23,15,22,11,9,3,...,11,23,20,33,0,2,17,39.497597,6.53,2.603369
8,서울,강동구,9,6,4,4,1,3,1,2,...,7,3,3,2,0,1,9,24.590383,4.06,2.216749
9,서울,송파구,20,23,10,8,4,5,4,8,...,11,12,8,16,0,1,13,33.876575,5.60,2.321429
10,서울,서초구,26,20,12,8,13,7,3,3,...,21,9,15,13,0,2,15,46.965959,7.76,1.932990
11,서울,중구,6,6,1,2,3,1,0,1,...,5,4,3,3,0,2,16,9.959947,1.65,9.696970
12,서울,양천구,9,3,7,4,6,3,2,2,...,6,4,5,11,0,1,9,17.406040,2.88,3.125000
13,서울,중랑구,5,7,6,2,5,2,2,2,...,5,4,3,3,0,1,9,18.497135,3.06,2.941176
14,서울,노원구,11,7,6,6,7,4,2,3,...,6,4,10,11,0,1,9,35.439122,5.86,1.535836
15,서울,광진구,7,4,4,4,3,3,2,1,...,5,6,1,6,0,1,12,17.062820,2.82,4.255319
16,서울,강북구,4,7,4,0,3,0,0,0,...,2,2,1,2,0,1,12,23.600408,3.90,3.076923
17,서울,금천구,12,3,1,1,0,2,1,1,...,5,1,5,3,0,1,7,13.020528,2.15,3.255814
18,서울,용산구,10,6,6,3,3,2,1,3,...,4,4,8,11,0,1,11,21.867577,3.61,3.047091
19,서울,성동구,8,2,5,3,1,3,4,3,...,5,1,6,6,0,1,10,16.820149,2.78,3.597122
20,서울,동대문구,6,5,8,3,4,2,3,3,...,2,3,8,8,0,1,13,14.215912,2.35,5.531915
21,서울,성북구,6,1,3,2,3,1,1,1,...,2,3,4,7,0,2,14,24.577918,4.06,3.448276
22,서울,도봉구,6,5,4,3,4,0,1,1,...,6,1,3,4,0,1,9,20.651010,3.41,2.639296
23,서울,은평구,9,6,7,5,2,0,1,4,...,5,5,9,5,0,2,13,29.710154,4.91,2.647658
24,서울,서대문구,7,3,8,2,1,0,1,0,...,6,2,7,1,1,1,9,17.626320,2.91,3.092784

In [18]:
df6 = pd.read_csv('data/경찰청_음주단속_20231231.csv', header=0, encoding='euc-kr')
# 경찰서 → 구 이름 매핑
station_to_gu = {
    '서울중부경찰서': '중구',
    '서울동대문경찰서': '동대문구',
    '서울광진경찰서': '광진구',
    '서울마포경찰서': '마포구',
    '서울영등포경찰서': '영등포구',
    '서울금천경찰서': '금천구',
    '서울남대문경찰서': '중구',
    '서울성동경찰서': '성동구',
    '서울동작경찰서': '동작구',
    '서울중랑경찰서': '중랑구',
    '서울관악경찰서': '관악구',
    '서울강남경찰서': '강남구',
    '서울강서경찰서': '강서구',
    '서울강동경찰서': '강동구',
    '서울송파경찰서': '송파구',
    '서울종암경찰서': '성북구',
    '서울구로경찰서': '구로구',
    '서울서초경찰서': '서초구',
    '서울양천경찰서': '양천구',
    '서울노원경찰서': '노원구',
    '서울도봉경찰서': '도봉구',
    '서울은평경찰서': '은평구',
    '서울종로경찰서': '종로구',
    '서울방배경찰서': '서초구',
    '서울수서경찰서': '강남구',
    '서울혜화경찰서': '종로구',
    '서울서대문경찰서': '서대문구',
    '서울서부경찰서': '은평구',
    '서울용산경찰서': '용산구',
    '서울성북경찰서': '성북구',
    '서울강북경찰서': '강북구'
}


df6['구'] = df6['관할경찰서'].map(station_to_gu)
df6['발생년월'] = df6['측정일시'].apply(lambda x: f"{x[:4]}년 {x[5:7]}월")
df6['적발시각'] = df6['측정일시'].apply(lambda x: f"{x[11:13]}시")

df6.info()
df6.dropna(inplace=True)
df6.to_csv('./result/서울_단속_적발.csv', encoding='utf-8', index=False)
df6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125231 entries, 0 to 125230
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   연번      125231 non-null  int64
 1   성별      125231 non-null  object
 2   적발횟수    125231 non-null  int64
 3   나이      125231 non-null  object
 4   알콜농도    125231 non-null  float64
 5   측정거부    125231 non-null  object
 6   측정일시    125231 non-null  object
 7   관할경찰서   125231 non-null  object
 8   구       14765 non-null   object
 9   발생년월    125231 non-null  object
 10  적발시각    125231 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 10.5+ MB

,연번,성별,적발횟수,나이,알콜농도,측정거부,측정일시,관할경찰서,구,발생년월,적발시각
15,16,남자,5,50,0.075,N,2023/01/01 00:44:00,서울성북경찰서,성북구,2023년 01월,00시
37,38,남자,1,27,0.134,N,2023/01/01 01:36:00,서울마포경찰서,마포구,2023년 01월,01시
40,41,남자,3,52,0.115,N,2023/01/01 01:44:00,서울종암경찰서,성북구,2023년 01월,01시
48,49,남자,1,29,0.184,N,2023/01/01 02:08:00,서울마포경찰서,마포구,2023년 01월,02시
50,51,남자,3,43,0.106,N,2023/01/01 02:19:00,서울서초경찰서,서초구,2023년 01월,02시
...,...,...,...,...,...,...,...,...,...,...,...
125143,125144,남자,2,28,0.130,N,2023/12/31 14:27:00,서울중부경찰서,중구,2023년 12월,14시
125151,125152,남자,1,48,0.172,N,2023/12/31 15:49:00,서울은평경찰서,은평구,2023년 12월,15시
125205,125206,남자,3,53,0.205,N,2023/12/31 22:10:00,서울은평경찰서,은평구,2023년 12월,22시
125210,125211,남자,3,67,0.194,N,2023/12/31 22:28:00,서울강서경찰서,강서구,2023년 12월,22시
125230,125231,여자,1,40,0.099,N,2023/12/31 23:58:00,서울도봉경찰서,도봉구,2023년 12월,23시

In [ ]:
df7 = pd.read_excel('./서울_경찰청별_요일별_음주운전.xls', header=1)
df_name = df7[['경찰청세분류']]
df_name['경찰청세분류'] = df_name['경찰청세분류'] + "경찰서"
df_name = df_name[:31]
df_name

In [50]:
df8 = pd.read_csv('./data/23-12_서울시 행정동별 자동차 등록대수 현황.csv', encoding='euc-kr', header=0)
df8['사용본거지 시군구'] = df8['사용본거지 시군구'].apply(lambda x:
    x.split()[1]
)
df8.rename(columns={'사용본거지 시군구':'시군구','읍면동 (행정동)':'행정동'}, inplace=True)
df8['행정동'] = df8['행정동'].apply(lambda x:
                              x.split()[1]
                              )
df8['계'] = df8.iloc[:, 4:].sum(axis=1)
df8.info()
df8.to_csv('23-12 서울시 자동차 등록대수.csv', index=False, encoding='utf-8')
df8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570 entries, 0 to 3569
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     3570 non-null   object
 1   행정동     3570 non-null   object
 2   연료      3570 non-null   object
 3   계       3570 non-null   int64
 4   관용_승용   3570 non-null   int64
 5   관용_승합   3570 non-null   int64
 6   관용_화물   3570 non-null   int64
 7   관용_특수   3570 non-null   int64
 8   자가용_승용  3570 non-null   int64
 9   자가용승합   3570 non-null   int64
 10  자가용화물   3570 non-null   int64
 11  자가용특수   3570 non-null   int64
 12  영업용_승용  3570 non-null   int64
 13  영업용승합   3570 non-null   int64
 14  영업용화물   3570 non-null   int64
 15  영업용특수   3570 non-null   int64
dtypes: int64(13), object(3)
memory usage: 446.4+ KB

,시군구,행정동,연료,계,관용_승용,관용_승합,관용_화물,관용_특수,자가용_승용,자가용승합,자가용화물,자가용특수,영업용_승용,영업용승합,영업용화물,영업용특수
0,종로구,기타,휘발유,1,0,0,0,0,0,1,0,0,0,0,0,0
1,종로구,기타,휘발유,2,0,0,0,0,0,2,0,0,0,0,0,0
2,종로구,기타,휘발유,1,0,0,0,0,0,1,0,0,0,0,0,0
3,종로구,기타,경유,1,0,0,0,0,0,0,1,0,0,0,0,0
4,종로구,기타,경유,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3565,강동구,둔촌2동,하이브리드,377,0,0,0,0,0,376,0,0,0,1,0,0
3566,강동구,둔촌2동,수소,8,0,0,0,0,0,8,0,0,0,0,0,0
3567,강동구,둔촌2동,기타연료,12,0,0,0,0,3,0,2,6,0,0,0,1
3568,강동구,기타1,휘발유,28,0,0,0,0,0,25,1,2,0,0,0,0
3569,강동구,기타1,경유,18,0,0,0,0,0,0,4,14,0,0,0,0

In [87]:
df9 = pd.read_csv('./data/결과주소1.csv', encoding='utf-8', header=0)
df10 = pd.read_csv('./data/결과주소2.csv', encoding='utf-8', header=0)
df9 = pd.concat([df9, df10], axis=0, ignore_index=True)
df9.dropna(inplace=True)
df9['_ROAD_AD'] = df9['_ROAD_AD'].astype(str)  # 모든 값을 문자열로 변환
df9['시군구'] = df9['_ROAD_AD'].apply(lambda x: x.split()[1] if isinstance(x, str) and len(x.split()) > 1 else None)
df9['행정동'] = df9['_ROAD_AD'].apply(lambda x: x.split()[2] if isinstance(x, str) and len(x.split()) > 2 else None)
df9.to_csv('서울시_가로등_위치정보.csv', index=False, encoding='utf-8')
df9

,관리번호,위도,경도,_PARCEL_AD,_PARCEL_DT,_ROAD_AD,_ROAD_DT,시군구,행정동
0,가락지하차도-01,37.495254,127.107417,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,35.7m,송파구,양재대로
1,가락지하차도-02,37.495354,127.107755,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,35.0m,송파구,양재대로
2,가락지하차도-03,37.495443,127.108073,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,33.9m,송파구,양재대로
3,가락지하차도-04,37.495551,127.108410,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,34.2m,송파구,양재대로
4,가락지하차도-05,37.495654,127.108736,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,34.3m,송파구,양재대로
...,...,...,...,...,...,...,...,...,...
19286,행주IC_05-62,37.593488,126.803334,서울특별시 강서구 개화동 141,0.0m,서울특별시 강서구 개화동로 203,296.5m,강서구,개화동로
19287,행주IC_05-63,37.593653,126.803000,서울특별시 강서구 개화동 140,0.0m,서울특별시 강서구 개화동로 203,316.7m,강서구,개화동로
19288,행주IC_05-64,37.593805,126.802595,서울특별시 강서구 개화동 71,0.0m,서울특별시 강서구 개화동로 203,339.1m,강서구,개화동로
19289,행주IC_05-65,37.593860,126.802213,서울특별시 강서구 개화동 72-3,0.0m,서울특별시 강서구 개화동로 203,353.5m,강서구,개화동로
19290,행주IC_05-66,37.593994,126.801866,서울특별시 강서구 개화동 72-9,0.0m,경기도 김포시 고촌읍 아라육로57번길 126,362.2m,김포시,고촌읍

In [99]:
with open('./data/서울시 정류장마스터 정보.json', 'r', encoding='utf-8') as file:
    data = json.load(file)
# 'DESCRIPTION' 컬럼은 그대로 유지하고, 'DATA' 딕셔너리 리스트를 평탄화
description = data['DESCRIPTION']  # DESCRIPTION 부분
data_dict = data['DATA']  # DATA 딕셔너리 리스트

# DATA 부분을 json_normalize로 평탄화하여 DataFrame으로 변환
df_data = json_normalize(data_dict)

# DESCRIPTION 컬럼을 추가
df_data['DESCRIPTION'] = description
df_data.drop(columns=df_data.columns[7:], inplace=True)
df_data.to_csv('서울시_정류장_정보_좌표주소변환필요.csv', index=False, encoding='utf-8')
df_data

,lot,crtr_no,bus_arvl_info_guidem_instl,crtr_nm,crtr_type,lat,crtr_id
0,126.987752,01001,설치,종로2가사거리,중앙차로,37.569806,100000001
1,126.996521,01002,설치,창경궁.서울대학교병원,중앙차로,37.579433,100000002
2,126.998251,01003,설치,명륜3가.성대입구,중앙차로,37.582580,100000003
3,126.987613,01004,설치,종로2가.삼일교,중앙차로,37.568579,100000004
4,127.001744,01005,설치,혜화동로터리.여운형활동터,중앙차로,37.586243,100000005
...,...,...,...,...,...,...,...
11370,126.766228,41613,미설치,김포IC(가상),가상정류장,37.591442,129000043
11371,126.919246,68604,미설치,양주IC(가상),가상정류장,37.680124,129000044
11372,126.916507,68605,미설치,양주IC(가상),가상정류장,37.678402,129000045
11373,126.848843,35679,미설치,난지도하수처리장(가상),가상정류장,37.584193,129000110
11374,126.849209,35678,미설치,난지도하수처리장(가상),가상정류장,37.584647,129000111

In [12]:
df11 = pd.read_csv('./data/소상공인시장진흥공단_상가(상권)정보_서울_202312.csv', encoding='utf-8', header=0, low_memory=False)
df11.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220805430767,토끼정,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,1150010500107740012000001,마커스빌딩,서울특별시 강서구 마곡동로 55,157805,7802,NaN,2,NaN,126.833022,37.560053
1,MA010120220805430763,카페숲,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1154510300109290010016890,NaN,서울특별시 금천구 시흥대로40길 129,153860,8647,NaN,1,NaN,126.909939,37.446689
2,MA010120220805430969,다이앤,NaN,G2,소매,G209,섬유·의복·신발 소매,G20902,여성 의류 소매업,G47412,...,1114016200107750000009546,제일평화시장,서울특별시 중구 마장로 13,100837,4567,NaN,1,NaN,127.011381,37.568503
3,MA010120220805431023,숯불에닭,NaN,I2,음식,I201,한식,I20110,닭/오리고기 구이/찜,I56111,...,1147010300109710004007555,NaN,서울특별시 양천구 지양로 60,158846,8040,NaN,1,NaN,126.834524,37.520990
4,MA010120220805431191,맑은에스테틱,NaN,S2,수리·개인,S208,욕탕·신체관리,S20802,마사지/안마,S96122,...,1121510500100480053015378,NaN,서울특별시 광진구 뚝섬로32길 33,143843,5085,NaN,1,NaN,127.066814,37.534047

In [21]:
# df11.drop(columns='지점명', axis=1, inplace=True)
# df11.drop(columns='표준산업분류코드', axis=1, inplace=True)
# df11.drop(columns='표준산업분류명', axis=1, inplace=True)
# df11.drop(columns='동정보', axis=1, inplace=True)
# df11.drop(columns='호정보', axis=1, inplace=True)
df11.info()
df11.head()
df11.to_csv('./result/23-12_소상공인시장진흥공단_상가(상권)정보_서울.csv', index=False, encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489872 entries, 0 to 489871
Data columns (total 34 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     489872 non-null  object
 1   상호명        489872 non-null  object
 2   상권업종대분류코드  489872 non-null  object
 3   상권업종대분류명   489872 non-null  object
 4   상권업종중분류코드  489872 non-null  object
 5   상권업종중분류명   489872 non-null  object
 6   상권업종소분류코드  489872 non-null  object
 7   상권업종소분류명   489872 non-null  object
 8   시도코드       489872 non-null  int64
 9   시도명        489872 non-null  object
 10  시군구코드      489872 non-null  int64
 11  시군구명       489872 non-null  object
 12  행정동코드      489872 non-null  int64
 13  행정동명       489872 non-null  object
 14  법정동코드      489872 non-null  int64
 15  법정동명       489872 non-null  object
 16  지번코드       489872 non-null  int64
 17  대지구분코드     489872 non-null  int64
 18  대지구분명      489872 non-null  object
 19  지번본번지      489872 non-null  int64
 20  지번부번지      409619 non-null  float64
 21  지번주소       489872 non-null  object
 22  도로명코드      489872 non-null  int64
 23  도로명        489872 non-null  object
 24  건물본번지      489871 non-null  float64
 25  건물부번지      64627 non-null   float64
 26  건물관리번호     489842 non-null  object
 27  건물명        232664 non-null  object
 28  도로명주소      489872 non-null  object
 29  구우편번호      489872 non-null  int64
 30  신우편번호      489872 non-null  int64
 31  층정보        340085 non-null  object
 32  경도         489872 non-null  float64
 33  위도         489872 non-null  float64
dtypes: float64(5), int64(10), object(19)
memory usage: 127.1+ MB

In [32]:
df12 = pd.read_csv('./data/서울시 역사마스터 정보.csv', encoding='euc-kr', header=0)
df12.to_csv('./data/서울시_역사마스터_변환전.csv', encoding='utf-8', index=False)

In [33]:
df13 = pd.read_csv('./data/서울시_정류장_정보_좌표주소변환필요.csv', encoding='utf-8', header=0)
df13_1 = df13[:9500]
df13_2 = df13[9500:]
df13_1.to_csv('./data/서울시_정류장정보_변환전_1.csv', index=False, encoding='utf-8')
df13_2.to_csv('./data/서울시_정류장정보_변환전_2.csv', index=False, encoding='utf-8')

In [43]:
df14_1 = pd.read_csv('./data/서울시_정류장정보_변환 후_1.csv', encoding='utf-8', header=0, low_memory=False)
df14_2 = pd.read_csv('./data/서울시_정류장정보_변환후_2.csv', encoding='utf-8', header=0, low_memory=False)
df14_3 = pd.concat([df14_1, df14_2], axis=0, ignore_index=True)
df14_3.to_csv('./result/서울시_버스정류장정보.csv', index=False, encoding='utf-8')
df14_3.head()

,lot,crtr_no,bus_arvl_info_guidem_instl,crtr_nm,crtr_type,lat,crtr_id,_PARCEL_AD,_PARCEL_DT,_ROAD_AD,_ROAD_DT
0,126.987752,1001,설치,종로2가사거리,중앙차로,37.569806,100000001,서울특별시 종로구 종로2가 84-11,0.0m,서울특별시 종로구 종로2가 삼일대로 396,17.5m
1,126.996521,1002,설치,창경궁.서울대학교병원,중앙차로,37.579433,100000002,서울특별시 종로구 연건동 28-17,0.0m,서울특별시 종로구 대학로 101,24.0m
2,126.998251,1003,설치,명륜3가.성대입구,중앙차로,37.582580,100000003,서울특별시 종로구 명륜4가 196-2,0.0m,서울특별시 종로구 명륜4가 창경궁로 231,15.7m
3,126.987613,1004,설치,종로2가.삼일교,중앙차로,37.568579,100000004,서울특별시 종로구 관철동 268,0.0m,서울특별시 종로구 청계천로 85,19.5m
4,127.001744,1005,설치,혜화동로터리.여운형활동터,중앙차로,37.586243,100000005,서울특별시 종로구 혜화동 56,0.0m,서울특별시 종로구 창경궁로 283-1,14.3m

In [6]:
df15 = pd.read_csv('./data/10_23_지자체별_대상사고통계.csv', encoding='euc-kr', header=0, low_memory=False)
df15_23 = df15[df15['연도'] == 2023]
df15_23

,연도,대상사고 구분명,법정동코드,사고건수,사고건수 구성비,사망자수,사망자수 구성비,치사율,부상자수,부상자수 구성비,...,중앙선 침범,신호위반,안전거리 미확보,안전운전 의무 불이행,보행자 보호의무 위반,기타,차대사람,차대차,차량단독,철길건널목
37799,2023,전체,1100,33811,17.05,180,7.06,0.53,45414,16.00,...,702.0,3785.0,4957.0,19616.0,1000.0,2486.0,7762.0,25029.0,1020.0,0.0
37800,2023,어린이사고,1100,1127,12.88,1,7.14,0.09,1360,12.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37801,2023,노인사고,1100,5731,14.71,71,5.73,1.24,6117,14.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37802,2023,보행자사고,1100,7808,20.92,90,10.16,1.15,7980,21.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37803,2023,자전거사고,1100,1531,29.75,6,9.38,0.39,1698,30.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40787,2023,고령운전사고,2701,174,0.44,1,0.13,0.57,247,0.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40788,2023,고령보행사고,2701,42,0.38,3,0.55,7.14,39,0.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40789,2023,PM사고,2701,24,1.00,0,0.00,0.00,28,1.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40790,2023,뺑소니사고,2701,38,0.57,0,0.00,0.00,50,0.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40791,2023,무면허사고,2701,34,0.66,0,0.00,0.00,41,0.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df16 = pd.read_csv('./data/12_23_사망교통사고정보.csv', encoding='euc-kr', header=0, low_memory=False)
df16_23 = df16[df16['발생년'] == 2023]
df16_23_seoul = df16_23[df16_23['발생지시도'] == '서울']
df16_23_seoul

,발생년,발생년월일시,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,발생지시도,...,사고유형,법규위반,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_2당_대분류,발생위치x_utmk,발생위치y_utmk,경도,위도
42689,2023,2023011522,야간,일,1,1,0,0,0,서울,...,횡단중,신호위반,단일로,기타단일로,화물차,보행자,954939,1952432,126.989737,37.570264
42693,2023,2023011201,야간,목,1,1,0,0,0,서울,...,충돌,안전운전 의무 불이행,단일로,기타단일로,승용차,없음,971661,1950142,127.179173,37.550182
42708,2023,2023012021,야간,금,1,1,0,0,0,서울,...,횡단중,안전운전 의무 불이행,교차로,교차로횡단보도내,승용차,보행자,959633,1962560,127.042344,37.661560
42714,2023,2023012512,주간,수,1,1,0,0,0,서울,...,기타,기타,기타,기타,화물차,보행자,957258,1952473,127.015984,37.570636
42743,2023,2023011205,야간,목,1,1,0,0,0,서울,...,충돌,안전운전 의무 불이행,단일로,기타단일로,자전거,승합차,944274,1947515,126.869335,37.525255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44984,2023,2023101323,야간,금,1,1,0,0,0,서울,...,기타,안전운전 의무 불이행,교차로,교차로내,승합차,보행자,964281,1945256,127.095863,37.505886
45027,2023,2023111510,주간,수,1,1,0,0,0,서울,...,충돌,안전운전 의무 불이행,교차로,교차로내,승용차,이륜차,968563,1944098,127.144359,37.495604
45030,2023,2023111919,야간,일,1,1,0,0,0,서울,...,기타,안전운전 의무 불이행,단일로,기타단일로,화물차,보행자,965971,1943634,127.115059,37.491330
45042,2023,2023121523,야간,금,1,1,0,0,0,서울,...,횡단중,기타,단일로,기타단일로,화물차,보행자,966711,1942761,127.123877,37.483336
45068,2023,2023121610,주간,토,1,1,0,0,0,서울,...,차도통행중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,951298,1949211,126.948712,37.540939

In [17]:
df17 = pd.read_csv('./data/19_23_음주운전사고다발.csv', encoding='euc-kr', header=0, low_memory=False)
df17

,사고다발지fid,사고다발지id,법정동코드,지점코드,시도시군구명,지점명,사고건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,6789498,2022051,1111017500,11110001,서울특별시 종로구1,서울특별시 종로구 숭인동(신설동역교차로 부근),3,4,0,4,0,0,127.023122,37.575433,"{""type"":""Polygon"",""coordinates"":[[[127.0240199..."
1,6792429,2022051,1114014300,11140001,서울특별시 중구1,서울특별시 중구 장충동1가(장충체육관앞 부근),3,5,0,3,2,0,127.005786,37.559678,"{""type"":""Polygon"",""coordinates"":[[[127.0066838..."
2,6792345,2022051,1114016200,11140002,서울특별시 중구2,서울특별시 중구 신당동(약수역서울3호선 부근),3,5,0,3,2,0,127.010806,37.553750,"{""type"":""Polygon"",""coordinates"":[[[127.0117045..."
3,6789599,2022051,1117012800,11170001,서울특별시 용산구1,서울특별시 용산구 한강로3가(한강대교북측 부근),3,9,0,4,5,0,126.960990,37.522527,"{""type"":""Polygon"",""coordinates"":[[[126.9618883..."
4,6789490,2022051,1120011400,11200001,서울특별시 성동구1,서울특별시 성동구 성수동1가(성수대교 부근),4,12,0,7,5,0,127.036229,37.543578,"{""type"":""Polygon"",""coordinates"":[[[127.0371277..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,6931054,2024049,5121010600,51210001,강원 속초시1,강원 속초시 교동(청초교사거리 부근),3,4,0,3,1,0,128.577791,38.192946,"{""type"":""Polygon"",""coordinates"":[[[128.5795873..."
912,6931166,2024049,5211114200,52111001,전북 전주시 완산구1,전북 전주시 완산구 효자동3가(아이다움어린이집 부근),3,5,0,4,1,0,127.112179,35.818255,"{""type"":""Polygon"",""coordinates"":[[[127.1139761..."
913,6931010,2024049,5211113700,52111002,전북 전주시 완산구2,전북 전주시 완산구 삼천동1가(꽃밭정이네거리 부근),3,4,0,4,0,0,127.132420,35.795465,"{""type"":""Polygon"",""coordinates"":[[[127.1342162..."
914,6931080,2024049,5211310200,52113001,전북 전주시 덕진구1,전북 전주시 덕진구 진북동(진북파출소 부근),3,3,1,2,0,0,127.133369,35.827370,"{""type"":""Polygon"",""coordinates"":[[[127.1351658..."
915,6931134,2024049,5213014400,52130001,전북 군산시1,전북 군산시 나운동(부곡사거리 부근),4,8,1,5,2,0,126.690970,35.959565,"{""type"":""Polygon"",""coordinates"":[[[126.6927663..."

In [4]:
# 특정 폴더 경로
folder_path = "./data/accident_detail"

# 해당 폴더 내 모든 .xlsx 파일 가져오기
file_list = glob.glob(os.path.join(folder_path, "*.xlsx"))

# 파일을 읽어 리스트에 저장
df_list = [pd.read_excel(file, header=0) for file in file_list]

# 데이터프레임 합치기
df_final = pd.concat(df_list, ignore_index=True)
df_final['구'] = df_final['시군구'].str.split().str[1]
df_final['동'] = df_final['시군구'].str.split().str[2]


# 결과 출력
df_final.head()

,구분번호,발생년월,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령대,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령대,피해운전자 상해정도,구,동
0,2023010100100056,2023년 1월,일요일,서울특별시 강남구 논현동,중상사고,0,1,0,0,차대차 - 추돌,...,승용,남,21-30세,상해없음,이륜,남,41-50세,중상,강남구,논현동
1,2023010100100075,2023년 1월,일요일,서울특별시 강남구 역삼동,경상사고,0,0,1,0,차대차 - 추돌,...,승용,여,31-40세,상해없음,이륜,남,41-50세,경상,강남구,역삼동
2,2023010200100438,2023년 1월,월요일,서울특별시 강남구 도곡동,경상사고,0,0,1,0,차대차 - 추돌,...,승용,남,21-30세,상해없음,승용,남,31-40세,경상,강남구,도곡동
3,2023010500100454,2023년 1월,목요일,서울특별시 강남구 역삼동,경상사고,0,0,2,0,차대차 - 추돌,...,승용,남,41-50세,상해없음,승용,남,21-30세,경상,강남구,역삼동
4,2023010500100486,2023년 1월,목요일,서울특별시 강남구 삼성동,경상사고,0,0,1,0,차대차 - 추돌,...,승용,남,41-50세,상해없음,승용,여,41-50세,경상,강남구,삼성동

In [5]:
df_final.fillna('피해자없음', inplace=True)
df_null = df_final[df_final.isnull().any(axis=1)]
df_null

Empty DataFrame
Columns: [구분번호, 발생년월, 요일, 시군구, 사고내용, 사망자수, 중상자수, 경상자수, 부상신고자수, 사고유형, 법규위반, 노면상태, 기상상태, 도로형태, 가해운전자 차종, 가해운전자 성별, 가해운전자 연령대, 가해운전자 상해정도, 피해운전자 차종, 피해운전자 성별, 피해운전자 연령대, 피해운전자 상해정도, 구, 동]
Index: []

[0 rows x 24 columns]

In [6]:
df_final.to_csv('./result/23-12_서울시_음주운전사고_데이터.csv', encoding='utf-8', index=False, header=True)