In [4]:
from operator import index

import pandas as pd
from pandas import read_csv
from pandas import json_normalize
import json

In [2]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df1 = pd.read_excel('서울_구별_시간대별_음주운전.xls', header=1)
df1 = df1[:25]
df1.replace('-',0,inplace=True)
df1 = df1.astype({col: 'int' for col in df1.columns[2:]})

df1.to_csv('서울_구별_시간대별_음주운전.csv', index=False, encoding='utf-8')
for i in range(0,25):
    df1.loc[i, '계'] = df1.iloc[i, 2:].sum()
df1 = df1.astype({col: 'int' for col in df1.columns[2:]})
df1

C:\Users\it\AppData\Local\Temp\ipykernel_8080\1582226607.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.replace('-',0,inplace=True)

,시도,시군구,00시-02시,02시-04시,04시-06시,06시-08시,08시-10시,10시-12시,12시-14시,14시-16시,16시-18시,18시-20시,20시-22시,22시-24시,계
0,서울,종로구,8,5,3,5,6,2,2,0,2,2,8,9,52
1,서울,마포구,20,12,10,10,9,1,4,2,3,6,9,18,104
2,서울,강서구,12,12,4,7,6,4,3,3,5,5,14,14,89
3,서울,구로구,15,6,8,4,6,5,6,1,5,11,17,10,94
4,서울,영등포구,18,11,7,11,7,2,2,1,5,9,15,23,111
5,서울,동작구,12,5,2,6,7,1,1,0,0,2,7,15,58
6,서울,관악구,12,9,10,7,5,1,4,0,2,6,9,11,76
7,서울,강남구,47,32,23,15,22,11,9,3,8,7,27,59,263
8,서울,강동구,9,6,4,4,1,3,1,2,4,2,7,11,54
9,서울,송파구,20,23,10,8,4,5,4,8,3,13,15,32,145
10,서울,서초구,26,20,12,8,13,7,3,3,4,11,21,31,159
11,서울,중구,6,6,1,2,3,1,0,1,2,3,7,5,37
12,서울,양천구,9,3,7,4,6,3,2,2,2,7,8,12,65
13,서울,중랑구,5,7,6,2,5,2,2,2,4,6,7,9,57
14,서울,노원구,11,7,6,6,7,4,2,3,4,10,6,13,79
15,서울,광진구,7,4,4,4,3,3,2,1,4,2,14,9,57
16,서울,강북구,4,7,4,0,3,0,0,0,1,4,5,8,36
17,서울,금천구,12,3,1,1,0,2,1,1,4,8,15,13,61
18,서울,용산구,10,6,6,3,3,2,1,3,0,5,13,12,64
19,서울,성동구,8,2,5,3,1,3,4,3,2,4,3,12,50
20,서울,동대문구,6,5,8,3,4,2,3,3,2,2,8,10,56
21,서울,성북구,6,1,3,2,3,1,1,1,2,4,6,7,37
22,서울,도봉구,6,5,4,3,4,0,1,1,3,4,4,9,44
23,서울,은평구,9,6,7,5,2,0,1,4,3,6,5,8,56
24,서울,서대문구,7,3,8,2,1,0,1,0,0,1,4,7,34

In [3]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df2 = pd.read_excel('서울_구별_요일별_음주운전.xls', header=1)
df2 = df2[:25]
df2.replace('-',0,inplace=True)
df2 = df2.astype({col: 'int' for col in df2.columns[2:]})

df2.to_csv('서울_구별_요일별_음주운전.csv', index=False, encoding='utf-8')
df2.drop(['시도'], inplace=True, axis=1)

C:\Users\it\AppData\Local\Temp\ipykernel_8080\1007630335.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.replace('-',0,inplace=True)

In [7]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df3 = pd.read_excel('서울_구별_월별_음주운전.xls', header=1)
df3 = df3[:25]
df3.replace('-',0,inplace=True)
df3 = df3.astype({col: 'int' for col in df3.columns[2:]})

df3.to_csv('서울_구별_월별_음주운전.csv', index=False, encoding='utf-8')
df3.drop(['시도'], inplace=True, axis=1)
df3

C:\Users\it\AppData\Local\Temp\ipykernel_7556\72068690.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3.replace('-',0,inplace=True)

     시군구  01월  02월  03월  04월  05월  06월  07월  08월  09월  10월  11월  12월
0    종로구    3    3    2    7    4    5    4    3    4    5    5    7
1    마포구   14    8    3    8   10    6    6   12   11    9    8    9
2    강서구    6    9   10   14    4    9    8    3    6    8    5    7
3    구로구    9    7    7    6    6    7    4   11    8   11    8   10
4   영등포구    8    9    6   10    7    9    8    9   15   11    6   13
5    동작구    8    4    5    9    1    1    5    4    8    5    6    2
6    관악구    8   11    8   10    7    5    5    2    5    8    4    3
7    강남구   30   18   22   26   20   18   21   21   11   23   20   33
8    강동구    5    4    7    7    4    4    5    3    7    3    3    2
9    송파구   21   12   11    7   10   15   14    8   11   12    8   16
10   서초구   11   18   18   10    8    9   16   11   21    9   15   13
11    중구    3    4    5    3    1    0    6    0    5    4    3    3
12   양천구    3    7    3    6    4    4    4    8    6    4    5   11
13   중랑구    4    8    3    4    8    5    6    4    5    4    3    3
14   노원구    7    4    9    4    7    8    2    7    6    4   10   11
15   광진구    5    1    3    3    7    8    8    4    5    6    1    6
16   강북구    1    3    4    6    3    5    2    5    2    2    1    2
17   금천구    7    8    6    5    2    4    8    7    5    1    5    3
18   용산구    7    2    1    5    2    6    7    7    4    4    8   11
19   성동구    6    6    2    5    3    5    2    3    5    1    6    6
20  동대문구    2    3    7    8    6    3    5    1    2    3    8    8
21   성북구    4    3    0    2    5    2    1    4    2    3    4    7
22   도봉구    5    2    4    3    3    4    5    4    6    1    3    4
23   은평구    4    4    5    5    4    3    2    5    5    5    9    5
24  서대문구    3    1    2    2    3    4    0    3    6    2    7    1

In [5]:

# 첫 번째 행을 컬럼으로 설정하여 .xls 파일을 읽기
df4 = pd.read_csv('시내주요기관(경찰·소방관서)_20250328163802.csv', header=1)
df4 = df4[:27]
df4.replace('-',0,inplace=True)
df4 = df4.astype({col: 'int' for col in df4.columns[2:]})

df4.drop(['자치구별(1)'], inplace=True, axis=1)
df4.drop(df4.columns[4:], axis=1, inplace=True)
df4.rename(columns={'자치구별(2)':'시군구'}, inplace=True)
df4 = df4[1:]

df4.to_csv('시내주요기관(경찰·소방관서)_20250328163802.csv', index=False, encoding='utf-8')
df4

     시군구  경찰청  경찰서  지구대파출소치안센터
1    종로구    1    2          22
2     중구    0    2          16
3    용산구    0    1          11
4    성동구    0    1          10
5    광진구    0    1          12
6   동대문구    0    1          13
7    중랑구    0    1           9
8    성북구    0    2          14
9    강북구    0    1          12
10   도봉구    0    1           9
11   노원구    0    1           9
12   은평구    0    2          13
13  서대문구    1    1           9
14   마포구    0    1          11
15   양천구    0    1           9
16   강서구    0    1          13
17   구로구    0    1          13
18   금천구    0    1           7
19  영등포구    0    1          12
20   동작구    0    1           9
21   관악구    0    1          11
22   서초구    0    2          15
23   강남구    0    2          17
24   송파구    0    1          13
25   강동구    0    1           9
26    기타    0    0           0

In [6]:
df5 = pd.read_csv('행정구역(구별)_20250328161825.csv', header=2)
df5.drop(columns=df5.columns[4:], axis=1, inplace=True)
df5.drop('자치구별(1)', axis=1, inplace=True)
df5.rename(columns={'자치구별(2)': '시군구'}, inplace=True)
df5 = df5[1:]
df5.to_csv('행정구역(구별)_20250328161825.csv', index=False, encoding='utf-8')
df5

     시군구   면적 (km²)  구성비 (%)
1    종로구  23.913223     3.95
2     중구   9.959947     1.65
3    용산구  21.867577     3.61
4    성동구  16.820149     2.78
5    광진구  17.062820     2.82
6   동대문구  14.215912     2.35
7    중랑구  18.497135     3.06
8    성북구  24.577918     4.06
9    강북구  23.600408     3.90
10   도봉구  20.651010     3.41
11   노원구  35.439122     5.86
12   은평구  29.710154     4.91
13  서대문구  17.626320     2.91
14   마포구  23.853966     3.94
15   양천구  17.406040     2.88
16   강서구  41.451954     6.85
17   구로구  20.122908     3.32
18   금천구  13.020528     2.15
19  영등포구  24.551194     4.06
20   동작구  16.356863     2.70
21   관악구  29.568369     4.89
22   서초구  46.965959     7.76
23   강남구  39.497597     6.53
24   송파구  33.876575     5.60
25   강동구  24.590383     4.06

In [7]:
df_merged = df1.merge(df2,on='시군구',how='left')
df_merged = df_merged.merge(df3,on='시군구',how='left')
df_merged = df_merged.merge(df4, on='시군구',how='left')
df_merged = df_merged.merge(df5,on='시군구',how='left')
df_merged.to_csv('서울_구별_음주운전.csv', index=False, encoding='utf-8')
df_merged['경찰접근성/면적비'] = df_merged['지구대파출소치안센터']/df_merged['구성비 (%)']
df_merged

,시도,시군구,00시-02시,02시-04시,04시-06시,06시-08시,08시-10시,10시-12시,12시-14시,14시-16시,...,09월,10월,11월,12월,경찰청,경찰서,지구대파출소치안센터,면적 (km²),구성비 (%),경찰접근성/면적비
0,서울,종로구,8,5,3,5,6,2,2,0,...,4,5,5,7,1,2,22,23.913223,3.95,5.569620
1,서울,마포구,20,12,10,10,9,1,4,2,...,11,9,8,9,0,1,11,23.853966,3.94,2.791878
2,서울,강서구,12,12,4,7,6,4,3,3,...,6,8,5,7,0,1,13,41.451954,6.85,1.897810
3,서울,구로구,15,6,8,4,6,5,6,1,...,8,11,8,10,0,1,13,20.122908,3.32,3.915663
4,서울,영등포구,18,11,7,11,7,2,2,1,...,15,11,6,13,0,1,12,24.551194,4.06,2.955665
5,서울,동작구,12,5,2,6,7,1,1,0,...,8,5,6,2,0,1,9,16.356863,2.70,3.333333
6,서울,관악구,12,9,10,7,5,1,4,0,...,5,8,4,3,0,1,11,29.568369,4.89,2.249489
7,서울,강남구,47,32,23,15,22,11,9,3,...,11,23,20,33,0,2,17,39.497597,6.53,2.603369
8,서울,강동구,9,6,4,4,1,3,1,2,...,7,3,3,2,0,1,9,24.590383,4.06,2.216749
9,서울,송파구,20,23,10,8,4,5,4,8,...,11,12,8,16,0,1,13,33.876575,5.60,2.321429
10,서울,서초구,26,20,12,8,13,7,3,3,...,21,9,15,13,0,2,15,46.965959,7.76,1.932990
11,서울,중구,6,6,1,2,3,1,0,1,...,5,4,3,3,0,2,16,9.959947,1.65,9.696970
12,서울,양천구,9,3,7,4,6,3,2,2,...,6,4,5,11,0,1,9,17.406040,2.88,3.125000
13,서울,중랑구,5,7,6,2,5,2,2,2,...,5,4,3,3,0,1,9,18.497135,3.06,2.941176
14,서울,노원구,11,7,6,6,7,4,2,3,...,6,4,10,11,0,1,9,35.439122,5.86,1.535836
15,서울,광진구,7,4,4,4,3,3,2,1,...,5,6,1,6,0,1,12,17.062820,2.82,4.255319
16,서울,강북구,4,7,4,0,3,0,0,0,...,2,2,1,2,0,1,12,23.600408,3.90,3.076923
17,서울,금천구,12,3,1,1,0,2,1,1,...,5,1,5,3,0,1,7,13.020528,2.15,3.255814
18,서울,용산구,10,6,6,3,3,2,1,3,...,4,4,8,11,0,1,11,21.867577,3.61,3.047091
19,서울,성동구,8,2,5,3,1,3,4,3,...,5,1,6,6,0,1,10,16.820149,2.78,3.597122
20,서울,동대문구,6,5,8,3,4,2,3,3,...,2,3,8,8,0,1,13,14.215912,2.35,5.531915
21,서울,성북구,6,1,3,2,3,1,1,1,...,2,3,4,7,0,2,14,24.577918,4.06,3.448276
22,서울,도봉구,6,5,4,3,4,0,1,1,...,6,1,3,4,0,1,9,20.651010,3.41,2.639296
23,서울,은평구,9,6,7,5,2,0,1,4,...,5,5,9,5,0,2,13,29.710154,4.91,2.647658
24,서울,서대문구,7,3,8,2,1,0,1,0,...,6,2,7,1,1,1,9,17.626320,2.91,3.092784

In [8]:
df6 = pd.read_csv('./data/경찰청_음주운전_20231231.csv', header=0, encoding='euc-kr')
df6

            연번  성별  적발횟수  나이   알콜농도 측정거부                 측정일시    관할경찰서
0            1  남자     1  31  0.136    N  2023/01/01 00:03:00  수원남부경찰서
1            2  남자     3  56  0.065    N  2023/01/01 00:04:00  일산동부경찰서
2            3  남자     1  34  0.094    N  2023/01/01 00:06:00  수원서부경찰서
3            4  남자     1  35  0.191    N  2023/01/01 00:10:00    분당경찰서
4            5  남자     1  28  0.043    N  2023/01/01 00:13:00  천안서북경찰서
...        ...  ..   ...  ..    ...  ...                  ...      ...
125226  125227  남자     1  61  0.063    N  2023/12/31 23:54:00    안동경찰서
125227  125228  남자     1  34  0.144    N  2023/12/31 23:54:00    양주경찰서
125228  125229  남자     4  43  0.236    N  2023/12/31 23:55:00    울진경찰서
125229  125230  남자     2  40  0.168    N  2023/12/31 23:56:00    진해경찰서
125230  125231  여자     1  40  0.099    N  2023/12/31 23:58:00  서울도봉경찰서

[125231 rows x 8 columns]

In [23]:
df7 = pd.read_excel('./서울_경찰청별_요일별_음주운전.xls', header=1)
df_name = df7[['경찰청세분류']]
df_name['경찰청세분류'] = df_name['경찰청세분류'] + "경찰서"
df_name = df_name[:31]
df_name

C:\Users\it\AppData\Local\Temp\ipykernel_7556\3616051557.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name['경찰청세분류'] = df_name['경찰청세분류'] + "경찰서"

      경찰청세분류
0    서울중부경찰서
1   서울동대문경찰서
2    서울광진경찰서
3    서울마포경찰서
4   서울영등포경찰서
5    서울금천경찰서
6    서울성동경찰서
7    서울동작경찰서
8    서울중랑경찰서
9    서울관악경찰서
10   서울강남경찰서
11  서울남대문경찰서
12   서울강서경찰서
13   서울강동경찰서
14   서울송파경찰서
15   서울종암경찰서
16   서울구로경찰서
17   서울서초경찰서
18   서울양천경찰서
19   서울노원경찰서
20   서울도봉경찰서
21   서울은평경찰서
22   서울종로경찰서
23   서울방배경찰서
24   서울수서경찰서
25   서울혜화경찰서
26  서울서대문경찰서
27   서울서부경찰서
28   서울용산경찰서
29   서울성북경찰서
30   서울강북경찰서

In [27]:
df_filtered = df6[df6['관할경찰서'].isin(df_name['경찰청세분류'])]
df_filtered
df_filtered.to_csv('서울_단속_적발.csv', encoding='utf-8', index=False)

In [50]:
df8 = pd.read_csv('./data/23-12_서울시 행정동별 자동차 등록대수 현황.csv', encoding='euc-kr', header=0)
df8['사용본거지 시군구'] = df8['사용본거지 시군구'].apply(lambda x:
    x.split()[1]
)
df8.rename(columns={'사용본거지 시군구':'시군구','읍면동 (행정동)':'행정동'}, inplace=True)
df8['행정동'] = df8['행정동'].apply(lambda x:
                              x.split()[1]
                              )
df8['계'] = df8.iloc[:, 4:].sum(axis=1)
df8.info()
df8.to_csv('23-12 서울시 자동차 등록대수.csv', index=False, encoding='utf-8')
df8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570 entries, 0 to 3569
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     3570 non-null   object
 1   행정동     3570 non-null   object
 2   연료      3570 non-null   object
 3   계       3570 non-null   int64
 4   관용_승용   3570 non-null   int64
 5   관용_승합   3570 non-null   int64
 6   관용_화물   3570 non-null   int64
 7   관용_특수   3570 non-null   int64
 8   자가용_승용  3570 non-null   int64
 9   자가용승합   3570 non-null   int64
 10  자가용화물   3570 non-null   int64
 11  자가용특수   3570 non-null   int64
 12  영업용_승용  3570 non-null   int64
 13  영업용승합   3570 non-null   int64
 14  영업용화물   3570 non-null   int64
 15  영업용특수   3570 non-null   int64
dtypes: int64(13), object(3)
memory usage: 446.4+ KB

,시군구,행정동,연료,계,관용_승용,관용_승합,관용_화물,관용_특수,자가용_승용,자가용승합,자가용화물,자가용특수,영업용_승용,영업용승합,영업용화물,영업용특수
0,종로구,기타,휘발유,1,0,0,0,0,0,1,0,0,0,0,0,0
1,종로구,기타,휘발유,2,0,0,0,0,0,2,0,0,0,0,0,0
2,종로구,기타,휘발유,1,0,0,0,0,0,1,0,0,0,0,0,0
3,종로구,기타,경유,1,0,0,0,0,0,0,1,0,0,0,0,0
4,종로구,기타,경유,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3565,강동구,둔촌2동,하이브리드,377,0,0,0,0,0,376,0,0,0,1,0,0
3566,강동구,둔촌2동,수소,8,0,0,0,0,0,8,0,0,0,0,0,0
3567,강동구,둔촌2동,기타연료,12,0,0,0,0,3,0,2,6,0,0,0,1
3568,강동구,기타1,휘발유,28,0,0,0,0,0,25,1,2,0,0,0,0
3569,강동구,기타1,경유,18,0,0,0,0,0,0,4,14,0,0,0,0

In [87]:
df9 = pd.read_csv('./data/결과주소1.csv', encoding='utf-8', header=0)
df10 = pd.read_csv('./data/결과주소2.csv', encoding='utf-8', header=0)
df9 = pd.concat([df9, df10], axis=0, ignore_index=True)
df9.dropna(inplace=True)
df9['_ROAD_AD'] = df9['_ROAD_AD'].astype(str)  # 모든 값을 문자열로 변환
df9['시군구'] = df9['_ROAD_AD'].apply(lambda x: x.split()[1] if isinstance(x, str) and len(x.split()) > 1 else None)
df9['행정동'] = df9['_ROAD_AD'].apply(lambda x: x.split()[2] if isinstance(x, str) and len(x.split()) > 2 else None)
df9.to_csv('서울시_가로등_위치정보.csv', index=False, encoding='utf-8')
df9

,관리번호,위도,경도,_PARCEL_AD,_PARCEL_DT,_ROAD_AD,_ROAD_DT,시군구,행정동
0,가락지하차도-01,37.495254,127.107417,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,35.7m,송파구,양재대로
1,가락지하차도-02,37.495354,127.107755,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,35.0m,송파구,양재대로
2,가락지하차도-03,37.495443,127.108073,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,33.9m,송파구,양재대로
3,가락지하차도-04,37.495551,127.108410,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,34.2m,송파구,양재대로
4,가락지하차도-05,37.495654,127.108736,서울특별시 송파구 가락동 282,0.0m,서울특별시 송파구 양재대로 932,34.3m,송파구,양재대로
...,...,...,...,...,...,...,...,...,...
19286,행주IC_05-62,37.593488,126.803334,서울특별시 강서구 개화동 141,0.0m,서울특별시 강서구 개화동로 203,296.5m,강서구,개화동로
19287,행주IC_05-63,37.593653,126.803000,서울특별시 강서구 개화동 140,0.0m,서울특별시 강서구 개화동로 203,316.7m,강서구,개화동로
19288,행주IC_05-64,37.593805,126.802595,서울특별시 강서구 개화동 71,0.0m,서울특별시 강서구 개화동로 203,339.1m,강서구,개화동로
19289,행주IC_05-65,37.593860,126.802213,서울특별시 강서구 개화동 72-3,0.0m,서울특별시 강서구 개화동로 203,353.5m,강서구,개화동로
19290,행주IC_05-66,37.593994,126.801866,서울특별시 강서구 개화동 72-9,0.0m,경기도 김포시 고촌읍 아라육로57번길 126,362.2m,김포시,고촌읍

In [99]:
with open('./data/서울시 정류장마스터 정보.json', 'r', encoding='utf-8') as file:
    data = json.load(file)
# 'DESCRIPTION' 컬럼은 그대로 유지하고, 'DATA' 딕셔너리 리스트를 평탄화
description = data['DESCRIPTION']  # DESCRIPTION 부분
data_dict = data['DATA']  # DATA 딕셔너리 리스트

# DATA 부분을 json_normalize로 평탄화하여 DataFrame으로 변환
df_data = json_normalize(data_dict)

# DESCRIPTION 컬럼을 추가
df_data['DESCRIPTION'] = description
df_data.drop(columns=df_data.columns[7:], inplace=True)
df_data.to_csv('서울시_정류장_정보_좌표주소변환필요.csv', index=False, encoding='utf-8')
df_data

,lot,crtr_no,bus_arvl_info_guidem_instl,crtr_nm,crtr_type,lat,crtr_id
0,126.987752,01001,설치,종로2가사거리,중앙차로,37.569806,100000001
1,126.996521,01002,설치,창경궁.서울대학교병원,중앙차로,37.579433,100000002
2,126.998251,01003,설치,명륜3가.성대입구,중앙차로,37.582580,100000003
3,126.987613,01004,설치,종로2가.삼일교,중앙차로,37.568579,100000004
4,127.001744,01005,설치,혜화동로터리.여운형활동터,중앙차로,37.586243,100000005
...,...,...,...,...,...,...,...
11370,126.766228,41613,미설치,김포IC(가상),가상정류장,37.591442,129000043
11371,126.919246,68604,미설치,양주IC(가상),가상정류장,37.680124,129000044
11372,126.916507,68605,미설치,양주IC(가상),가상정류장,37.678402,129000045
11373,126.848843,35679,미설치,난지도하수처리장(가상),가상정류장,37.584193,129000110
11374,126.849209,35678,미설치,난지도하수처리장(가상),가상정류장,37.584647,129000111

In [12]:
df11 = pd.read_csv('./data/소상공인시장진흥공단_상가(상권)정보_서울_202312.csv', encoding='utf-8', header=0, low_memory=False)
df11.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220805430767,토끼정,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,1150010500107740012000001,마커스빌딩,서울특별시 강서구 마곡동로 55,157805,7802,NaN,2,NaN,126.833022,37.560053
1,MA010120220805430763,카페숲,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1154510300109290010016890,NaN,서울특별시 금천구 시흥대로40길 129,153860,8647,NaN,1,NaN,126.909939,37.446689
2,MA010120220805430969,다이앤,NaN,G2,소매,G209,섬유·의복·신발 소매,G20902,여성 의류 소매업,G47412,...,1114016200107750000009546,제일평화시장,서울특별시 중구 마장로 13,100837,4567,NaN,1,NaN,127.011381,37.568503
3,MA010120220805431023,숯불에닭,NaN,I2,음식,I201,한식,I20110,닭/오리고기 구이/찜,I56111,...,1147010300109710004007555,NaN,서울특별시 양천구 지양로 60,158846,8040,NaN,1,NaN,126.834524,37.520990
4,MA010120220805431191,맑은에스테틱,NaN,S2,수리·개인,S208,욕탕·신체관리,S20802,마사지/안마,S96122,...,1121510500100480053015378,NaN,서울특별시 광진구 뚝섬로32길 33,143843,5085,NaN,1,NaN,127.066814,37.534047

In [21]:
# df11.drop(columns='지점명', axis=1, inplace=True)
# df11.drop(columns='표준산업분류코드', axis=1, inplace=True)
# df11.drop(columns='표준산업분류명', axis=1, inplace=True)
# df11.drop(columns='동정보', axis=1, inplace=True)
# df11.drop(columns='호정보', axis=1, inplace=True)
df11.info()
df11.head()
df11.to_csv('./result/23-12_소상공인시장진흥공단_상가(상권)정보_서울.csv', index=False, encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489872 entries, 0 to 489871
Data columns (total 34 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     489872 non-null  object
 1   상호명        489872 non-null  object
 2   상권업종대분류코드  489872 non-null  object
 3   상권업종대분류명   489872 non-null  object
 4   상권업종중분류코드  489872 non-null  object
 5   상권업종중분류명   489872 non-null  object
 6   상권업종소분류코드  489872 non-null  object
 7   상권업종소분류명   489872 non-null  object
 8   시도코드       489872 non-null  int64
 9   시도명        489872 non-null  object
 10  시군구코드      489872 non-null  int64
 11  시군구명       489872 non-null  object
 12  행정동코드      489872 non-null  int64
 13  행정동명       489872 non-null  object
 14  법정동코드      489872 non-null  int64
 15  법정동명       489872 non-null  object
 16  지번코드       489872 non-null  int64
 17  대지구분코드     489872 non-null  int64
 18  대지구분명      489872 non-null  object
 19  지번본번지      489872 non-null  int64
 20  지번부번지      409619 non-null  float64
 21  지번주소       489872 non-null  object
 22  도로명코드      489872 non-null  int64
 23  도로명        489872 non-null  object
 24  건물본번지      489871 non-null  float64
 25  건물부번지      64627 non-null   float64
 26  건물관리번호     489842 non-null  object
 27  건물명        232664 non-null  object
 28  도로명주소      489872 non-null  object
 29  구우편번호      489872 non-null  int64
 30  신우편번호      489872 non-null  int64
 31  층정보        340085 non-null  object
 32  경도         489872 non-null  float64
 33  위도         489872 non-null  float64
dtypes: float64(5), int64(10), object(19)
memory usage: 127.1+ MB

In [32]:
df12 = pd.read_csv('./data/서울시 역사마스터 정보.csv', encoding='euc-kr', header=0)
df12.to_csv('./data/서울시_역사마스터_변환전.csv', encoding='utf-8', index=False)

In [33]:
df13 = pd.read_csv('./data/서울시_정류장_정보_좌표주소변환필요.csv', encoding='utf-8', header=0)
df13_1 = df13[:9500]
df13_2 = df13[9500:]
df13_1.to_csv('./data/서울시_정류장정보_변환전_1.csv', index=False, encoding='utf-8')
df13_2.to_csv('./data/서울시_정류장정보_변환전_2.csv', index=False, encoding='utf-8')

In [43]:
df14_1 = pd.read_csv('./data/서울시_정류장정보_변환 후_1.csv', encoding='utf-8', header=0, low_memory=False)
df14_2 = pd.read_csv('./data/서울시_정류장정보_변환후_2.csv', encoding='utf-8', header=0, low_memory=False)
df14_3 = pd.concat([df14_1, df14_2], axis=0, ignore_index=True)
df14_3.to_csv('./result/서울시_버스정류장정보.csv', index=False, encoding='utf-8')
df14_3.head()

,lot,crtr_no,bus_arvl_info_guidem_instl,crtr_nm,crtr_type,lat,crtr_id,_PARCEL_AD,_PARCEL_DT,_ROAD_AD,_ROAD_DT
0,126.987752,1001,설치,종로2가사거리,중앙차로,37.569806,100000001,서울특별시 종로구 종로2가 84-11,0.0m,서울특별시 종로구 종로2가 삼일대로 396,17.5m
1,126.996521,1002,설치,창경궁.서울대학교병원,중앙차로,37.579433,100000002,서울특별시 종로구 연건동 28-17,0.0m,서울특별시 종로구 대학로 101,24.0m
2,126.998251,1003,설치,명륜3가.성대입구,중앙차로,37.582580,100000003,서울특별시 종로구 명륜4가 196-2,0.0m,서울특별시 종로구 명륜4가 창경궁로 231,15.7m
3,126.987613,1004,설치,종로2가.삼일교,중앙차로,37.568579,100000004,서울특별시 종로구 관철동 268,0.0m,서울특별시 종로구 청계천로 85,19.5m
4,127.001744,1005,설치,혜화동로터리.여운형활동터,중앙차로,37.586243,100000005,서울특별시 종로구 혜화동 56,0.0m,서울특별시 종로구 창경궁로 283-1,14.3m

,lot,crtr_no,bus_arvl_info_guidem_instl,crtr_nm,crtr_type,lat,crtr_id,_PARCEL_AD,_PARCEL_DT,_ROAD_AD,_ROAD_DT
0,126.987752,1001,설치,종로2가사거리,중앙차로,37.569806,100000001,서울특별시 종로구 종로2가 84-11,0.0m,서울특별시 종로구 종로2가 삼일대로 396,17.5m
1,126.996521,1002,설치,창경궁.서울대학교병원,중앙차로,37.579433,100000002,서울특별시 종로구 연건동 28-17,0.0m,서울특별시 종로구 대학로 101,24.0m
2,126.998251,1003,설치,명륜3가.성대입구,중앙차로,37.582580,100000003,서울특별시 종로구 명륜4가 196-2,0.0m,서울특별시 종로구 명륜4가 창경궁로 231,15.7m
3,126.987613,1004,설치,종로2가.삼일교,중앙차로,37.568579,100000004,서울특별시 종로구 관철동 268,0.0m,서울특별시 종로구 청계천로 85,19.5m
4,127.001744,1005,설치,혜화동로터리.여운형활동터,중앙차로,37.586243,100000005,서울특별시 종로구 혜화동 56,0.0m,서울특별시 종로구 창경궁로 283-1,14.3m
...,...,...,...,...,...,...,...,...,...,...,...
11370,126.766228,41613,미설치,김포IC(가상),가상정류장,37.591442,129000043,경기도 김포시 고촌읍 신곡리 767-5,0.0m,경기도 김포시 고촌읍 수기로 137,160.4m
11371,126.919246,68604,미설치,양주IC(가상),가상정류장,37.680124,129000044,경기도 양주시 장흥면 삼하리 340-23,0.0m,경기도 양주시 장흥면 일영로393번길 84-25,97.5m
11372,126.916507,68605,미설치,양주IC(가상),가상정류장,37.678402,129000045,경기도 양주시 장흥면 삼하리 252-5,0.0m,경기도 양주시 장흥면 일영로393번길 118-9,78.6m
11373,126.848843,35679,미설치,난지도하수처리장(가상),가상정류장,37.584193,129000110,경기도 고양시 덕양구 현천동 666-6,0.0m,경기도 고양시 덕양구 대덕로 373-1,271.3m
11374,126.849209,35678,미설치,난지도하수처리장(가상),가상정류장,37.584647,129000111,경기도 고양시 덕양구 현천동 666-1,0.0m,경기도 고양시 덕양구 대덕로 373-1,263.0m