In [21]:
from querySql import query_sql
import plotly.graph_objects as go

In [20]:
tableName = 'crackdown'
query = f'SELECT 구, 연령대, COUNT(id) as 적발건수, AVG(적발횟수-1) as 재적발평균, MAX(적발횟수-1) AS 최다재적발 FROM {tableName} GROUP BY 구, 연령대'
result = query_sql(query)
top_df = result.loc[result.groupby('구')['적발건수'].idxmax()]
top_df

        구  연령대  적발건수   재적발평균  최다재적발
2     강남구    3   607  0.4679      5
10    강동구    3   149  0.3423      3
17    강북구    2   116  0.1724      2
27    강서구    3   230  0.3957      4
34    관악구    3   212  0.3396      5
41    광진구    2   210  0.0810      2
50    구로구    3   138  0.4348      5
58    금천구    3    94  0.5319      5
66    노원구    4   143  0.9161      6
73    도봉구    4    68  0.8235      4
80   동대문구    3   207  0.3720      5
88    동작구    3   124  0.3387      6
95    마포구    3   287  0.2962      5
102  서대문구    2    91  0.2418      2
110   서초구    3   280  0.4571      4
116   성동구    3   138  0.4420      4
123   성북구    3   108  0.2870      2
130   송파구    3   335  0.3672      5
139   양천구    3   101  0.4455      4
147  영등포구    4   271  0.7749      6
153   용산구    3   197  0.3807      4
161   은평구    4   121  0.8347      4
167   종로구    3    93  0.2258      3
174    중구    3    79  0.3671      2
181   중랑구    3   118  0.3814      4

In [ ]:
fig = go.Figure(go.Sankey(
    node=
))